 /* style des formulaires de satisfaction */

body {
background-color : #d5cf5c;
}

h1 {
background-color : #686863 ;
text-align : center;
font-size : 200%;
}

h2 {
background-color : #92928c;
font-size : 130%;
}

h3 {
font-size : 120%;
}